# Initialize database files

In [ ]:
%cd twitteranalysis
from DataTools.SqliteTools import initialize_master_db, delete_master_db

delete_master_db()
initialize_master_db()

# Run the user parser

In [ ]:
%cd twitteranalysis
%run -i Executables/process_user_descriptions_into_words2.py

%cd twitteranalysis
%run -i Executables/parallel_runner.py

# Clear queue

In [ ]:
%cd twitteranalysis

from Servers.ClientSide import Client
c = Client()

# Each of the listening request handlers needs its queue flushed
c.send_flush_command()

#j = c.send_shutdown_command()

In [ ]:
j

# Merge the various sqlite files

In [ ]:

%cd twitteranalysis
import environment
import sqlite3

mainDB = environment.MASTER_DB
columnNames = "word_index, sentence_index, word, user_id, tweet_id"
    
otherDbNames = [ 'wordmapping%s.db' % (i) 
            for i in range( 0, environment.MAX_DB_FILES +1)]

otherDBs = [ '%s/%s' % (environment.DB_FOLDER, name) 
            for name in otherDbNames]
    
for db in otherDbNames:
    conn = sqlite3.connect( mainDB )  # Connect to the main database
    curs = conn.cursor()  # Connect a cursor
    
    dbPath = '%s/%s' % (environment.DB_FOLDER, db)
    curs.execute( "ATTACH DATABASE ? as ? ;", (dbPath, 'db') )

    dbNameTableName = "db.word_map_deux"
    tableName = 'word_map_deux'
    curs.execute( "INSERT INTO %s (%s) SELECT %s FROM %s;" % (tableName, columnNames, columnNames, dbNameTableName) )
    conn.commit()
    curs.close()
    conn.close()

# Check data

In [ ]:
%cd twitteranalysis
import environment
import sqlite3

In [ ]:
actualUsers = 1328927
numberProcessed = 4352
numberEmpty = 332
expectedUsers = numberProcessed - numberEmpty
print('should have %s' % expectedUsers)

In [ ]:
conn = sqlite3.connect(environment.MASTER_DB)
r1 = conn.execute("select count( distinct user_id) from word_map_deux")
num_users = r1.fetchone()[0]
print("%s Unique user ids" % num_users)
r2 = conn.execute("select count( word) from word_map_deux")
print("%s rows in master.db" % r2.fetchone())
conn.close()

In [ ]:
missing = expectedUsers - num_users
pct_problem = missing / numberProcessed
expected_missing = round(actualUsers * pct_problem)

print("%s users were not saved; this is %s pct of the total processed" %( missing, pct_problem))
print("Projecting %s problem cases" % expected_missing)

NB: 
    - numberUsers processed = 4352
    - users w empty descriptions = 332
    - users non-english = 129
    - expected users: 4020 (less empty)

5/15 6.06
    - master only 
    - 3984 unique ids based on master
    - 67500 rows in master
    - 36 missing
    - 10993 projected problems
    
5/15 1.36
    - lock added to sqlite writer
    - 4085 unique ids based on files
    - 3950 unique ids based on master
    - 67002 rows in master and based on files


5/15 11.12
    - 4059 unique ids based on files
    - 3923 unique ids based on master
    - 66507 rows in master and based on files

5/15 10.39
    - 3653 unique ids based on files
    - 3529 unique ids based on master
    - 60060 rows in master and based on files
    

5/14 9.00
    - 4014 unique ids based on files
    - 2510 unique ids based on master
    - 41973 rows in master and based on files


Before changed to class method w separate call to flush
    - 3591 Unique user ids
    - 47952 rows in master.db

After
    - 4014 Unique user ids
    - 67940 rows in master.db

# Figure out what users are missing

In [1]:
%cd twitteranalysis
import sqlite3
import environment
import DataTools.Cursors
cursor = DataTools.Cursors.WindowedUserCursor( language='en' )

(bookmark:twitteranalysis) -> /Users/adam/Dropbox/PainNarrativesLab/TwitterDataAnalysis
/Users/adam/Dropbox/PainNarrativesLab/TwitterDataAnalysis
connection ready

In [2]:
conn = sqlite3.connect(environment.MASTER_DB)
curs = conn.cursor()  # Connect a cursor
    
missing = []

while True:
    user = cursor.next()
    q = "select * from word_map_deux where user_id = %s" % user.userID
    r1 = curs.execute(q)
    r = r1.fetchone()
    if r is None:
        missing.append(user.userID)


curs.close()
conn.close()
print(len(missing))

StopIteration:

In [3]:
import pandas as pd
from DataTools.DataConnections import MySqlConnection, DAO
conn = MySqlConnection(environment.CREDENTIAL_FILE)
conn._make_engine()

In [4]:
descripts = []
for userId in missing:
    q = 'select description from users where userID = %s' % userId
    v = pd.read_sql_query(q, conn.engine).iloc[0].values[0]
    descripts.append((userId, v))
len(descripts)

425

In [5]:
substantive = [x for x in descripts if x[1] != '']
substantive_ids = [x[0] for x in descripts if x[1] != '']
len(substantive)

93

In [6]:
substantive

[(168391959, '**SKYHIGH**'),
 (401742354, '✌'),
 (452749712, ':)'),
 (818392459,
  "Author of Through Whose Eyes: Rise, Child of God and Toni's Blues. https://t.co/fhT0Jsawce #SURVIVOR #CHILDOFGOD Arizona"),
 (819644227,
  'Always evolving, always changing. Liberal Democrat. Not politically correct. Live in free association. Goal: To experience reality.'),
 (820011216,
  "...Some see us as fish out of the water, trouble makers, and oddballs. But really we are gifted, profound, and uniquely brilliant ... MMOT.. We aren't criminals"),
 (820290150,
  'Registered Dietitian,  Lactation Consultant, Crohns disease.  Passions include: my daughter, the Ocean/ Marine Biology,  Animal rights, Music....'),
 (821616540,
  "The Council of Academic Hospitals of Ontario (CAHO) is the association of Ontario's 24 research hospitals - a focal point for their strategic initiatives."),
 (821962573,
  'Official Twitter Page for California Pain Management. We treat many different Chronic & Acute Pain Conditions with Interventional & Comprehensive Treatment.'),
 (822232146,
  "Music is only half of my life. And the other half is a story to be told. I'll always speak my mind and won't lie to back someone up. It's not my job."),
 (822515911,
  'HIV/AIDS and Disabilities: African Context,YYJ! I refuse to watch my friends detoriate around me, Enuf!'),
 (824014975, 'Not ready for prime time'),
 (826003231,
  'Philosophy teacher/advocate. Yoga enthusiast. ME/CFS Warrior. All views my own. RT not endorsement.'),
 (826255657,
  "Doctor,Police Officer,Theology Grad Hendrix College,Runner,Enjoy Nat'l & St.Pk's, a new day is a chance and a choice to be kind to someone!"),
 (829184155,
  'Editor @EverydayHealth, Co-Founder of @EndoWarriors & Master of Multi-tasking. Tweets about Health, Nutrition, #Endometriosis & Chronic Illness.'),
 (829825440,
  'A specialty mental health clinic in San Diego, CA, providing evidence based treatments for anxiety & stress. Let us help you live a better life!'),
 (830098664,
  'I am that which cannot be defined. I do not change to fit your idea of me, I am as I am, and so shall I remain. Love who I know, and even more what I know'),
 (830837017,
  'Rewards & challenges of a specialist team dedicated to relieving pain. #chronicpain #medicalpractice #pain #medicine #spinalblocks'),
 (831817183,
  'The CSU Institute for Palliative Care is the first statewide educational and workforce development initiative focused on palliative care in the U.S.'),
 (832822832,
  'I can help you with all your online safety training needs.  713.302.3199  #safetytraining\r\nhttp://t.co/DLfFv4oV1Q'),
 (833376937,
  '21 y/o endometriosis patient trying to get by...mma fighter (used to be) and nursing student #endowarrior #fighter #champion'),
 (833400756,
  'Singer, songwriter, musician, occasional actress, dreamer by night under the stage name Sari Valda ... Insurance by day. Daughter of the King.'),
 (834526411,
  'News, Music, Events, Entertainment, Announcement in Mesa! Join The Fun! ~~ Want to Post an Event or Announcement? Suzannah@SocialInMesa.com'),
 (834684848,
  "We're all in the same game, just different levels. Dealing with the same hell, just different devils. !Lupus Fighter! #lupus #fibro"),
 (836095850,
  'At the Soul Fighter Foundation, we strive to meet the needs of the disabled community & their families through Advocacy, Education, & Guidance. Also on Facebook'),
 (836367984,
  'Take That member and club DJ, this is the official Howard Donald twitter page'),
 (836666156,
  'Mother | Sister | Daughter | #Milbrat | Fmr Navy Corpsman | Now a Veteran Owned Business Builder| Transition Assistance Coach | Speaker | Author |    Survivor'),
 (1170228427, '|1104|•|0717|'),
 (1268582460, '☀♑ · ☾♑ · ☿♐ · ♀♒ · ♂♉ · ♃♌ · ♄♑ · ♅♑ · ♆♑ · ♇♏'),
 (1663687578,
  "I am a newly published author, I write Erotic romance, Second Chances Sammy's story by Annie Edmonds  https://t.co/5ewCSP5JnA"),
 (1665557101,
  'Dialogue  and ideas between UK hotels  hospitality venues that offer and seek high design standard.s.,'),
 (1665581275,
  'Visita interiora terrae, rectificando invenies occultum lapidem.'),
 (1665709273,
  'Follow and suscribe to my channel. http://t.co/OCp2COToGm\r\nI follow back :)'),
 (1665865105,
  'Station Health is a health magazine and a gateway to all kind of information on healthcare and health issues that can help you improve your lifestyle and spirit'),
 (1666090326, 'Fitness Center, Gym, Personal Training, Yoga, Pilates'),
 (1667380477,
  'I will retweet anything mentioning the great city of Leeds! Keep up to date with all the news & gossip with one follow!'),
 (1667891341,
  'Providers of high quality physiotherapy/rehabilitation supplies to aid full motion and fitness. Dedicated to helping you achieve your goals today!'),
 (1668048276,
  'Located  in Lake County. Committed to serving  information, education, and r,ecreation needs of our community.,'),
 (1669962326,
  'Twitter feed for the Foundation in Primary Care Pain Management module. Cardiff University are not responsible for user-generated content and comments.'),
 (1670849071,
  "Born on July 1st 1977. Teacher by profession. Loves to sing, dance,drama, write poems, songs. yes that's me."),
 (1671560821,
  'Health Care, mHealth, Telehealth, Business & Technology enthusiast. @Columbia alum #health #innovation #wellness. http://t.co/uEIZ6z8MfJ'),
 (1671686245,
  'A crowd-source @book publishing company that directly impacts specific causes.  Get !'),
 (1671961988,
  'Official Twitter Site of the National Fibromyalgia & Chronic Pain Association'),
 (1674679454,
  "Just a person who occasionally feels like they're taking a chainsaw to the face. I cope with humour, m'kay?\n\nFollow me for a daily dose of spoonie laughs."),
 (1674946165, 'Official Twitter account of the Pain Alliance NI.'),
 (1674969504, 'Composer, sound , an#d  overall loud man.'),
 (1675055779,
  "Writer of darkly funny, badass social justice-filled novels. Vasectomized,Vegan Ex-Convict. Search 'Smitowicz' on Amazon for my revenge novel Orange Rain."),
 (1676547132, 'design websites, then live  in @them.'),
 (1677229116,
  "I'm absolutely ridiculous. Future P.A. Slightly obsessed with my boyfriend and our furchildren. #gobigorgohome"),
 (1677395282,
  'The most exciting musical-variety program of GMA Network. Sunday noon can be truly fun!'),
 (1679155496,
  'The #Perfect #Stash #Bag - #StashCan type #HideAway for your #Personal items - #Cannabis utensils - #Cash - #Jewellery #Identification - Money to #Community -'),
 (1680691285,
  "This is a fan page for Aarron 'Lambo' Lambert - #BodyBuilder extraordinaire - #BodyBuilding - 8th in the world - #RepMax - #MuscleTalk - #Beast Industries -"),
 (1681395450,
  'to Indy, trying to break into consumer  research  and marketing'),
 (1681479823,
  'Creating a coworking community in Maidstone fo,r freelancers, home , small/micro business owners and start-ups to work, chat and collaborate  together.,'),
 (1683220878,
  'Part of @SHC_org, we provide proactive and tailored support for the NHS to involve people in designing and delivering local services'),
 (1683350642,
  '☆Swedish☆ ...#endometriosisvictim...        ♡One Direction♡                                                            ♡5SOS♡'),
 (1683449258,
  'Desarrollando la Farmacia hospitalaria en El Salvador al beneficio de la comunidad.'),
 (1683679345,
  'Estate~ Broker servicing Chicago and Suburbs. Also, I ,enjoy   my family, meditating, reading, and .'),
 (1684598520,
  'Writer. Scientist. Researcher. Bravo lover. Living with chronic complicated migraines.'),
 (1686081068, 'A NON-INVASIVE PAIN TREATMENT'),
 (1686818474,
  'Amis and Hitch: The Starsky and Hutch of letters. Lover of both (not in the biblical sense). Reasonably libertarian.'),
 (1686883152,
  'Australian Pain Management Association. Options & information for people with persistent pain. PAIN LINK HELPLINE: 1300 340 357. http://t.co/91ZVvqp1AA'),
 (1732483676, '[ ???¿¿¿???¿¿¿??? ]'),
 (1942653919,
  'Medical team, chiropractic team, physical therapy team.We work on spinal and joint conditions primarily the knee.'),
 (1943096588,
  'Lizzie. 19. In Love. My thoughts scare me. Follow if you dare.'),
 (1943901734, 'RADIOFREQUENCE - QST-CHEPS-TENS-RECOVERY RX'),
 (1946121392,
  'In the fight of Pre-diabetes to prevent diabetes, survivor of dv, Fibro, Lover of #weather & #meteorology Nature Photographer,  Daughter, #Endosister, 3 Fall'),
 (1947484375,
  'Richmond Pickering Ltd are publishers of the My Guide series of self-help, wellness and how-to books, helping people improve their lives in some way.'),
 (1952156365,
  'Getting adjusted to a brand new life with a less capable body.                         Hoping to find new ways to live life to the fullest.'),
 (1956700424,
  'Craft Art Vintage ETSY http://t.co/V9JErLBmfL ZIBBET http://t.co/48TdGeLaWf FB http://t.co/MxdHsCFCbf RMOUSE http://t.co/qmoS7OlKwq PINT http://t.co/ZKIxVmu7g4'),
 (1958085936,
  'Physiotherapy, Exercise Rehabilitation, Corporate Health, Pilates'),
 (1961129809,
  'Montvale Advanced Center for Special Surgery is an outpatient ambulatory surgery center.'),
 (1965229962,
  'We are a state-of-the art center of excellence offering the highest standard of quality care with the most technologically advanced treatments.'),
 (1966904126,
  'Freelance writer/editor specializing in medical communications, health literacy and plain English writing.'),
 (1967229895,
  "#Cannabis #Tweets! If you're against #Cannabis get the fuck off my profile!! #CannabisCure #FreeTheWeed #TheGiftFromGod #HailQueenMJ #LetsGetHigh"),
 (1971054716,
  'Laid back! Turn up when i fell like it! Cool ass momma and G-ma going places soon ! Free DJ and Rock a.k.a Rakeem'),
 (1974223567,
  'Motivational speaker.  Suicide survivor, with BPD, Fibromyalgia, Addiction, & PTSD. Helping others stay strong as they travel through hell. DM me anytime!'),
 (1977458240,
  'I have been diagnosed with fibromyalgia, ibs, hypothyroidism, and multiple food allergies. Working on getting a second opinion about the fibro diagnosis.'),
 (1978158529,
  "Irish Children's Arthritis Network. A parent-run network providing support & information and advocating for best care for those affected by Juvenile Arthritis"),
 (2147790896,
  'Mountain Mom Adventures~ Life, love, family, photography, hunting, motorcycles, and food, not necessarily in that order. http://t.co/CuCjY3Hr2q'),
 (2148022776,
  'livet er ingen dans på roser, men en kamp i en tornebusk. Skriver om livet som ung og syk'),
 (2148304566,
  'We Change Lives Here. We treat all of your pain conditions and explore any method to help you get your life back.'),
 (2150423437,
  'Age 23. Suffering in Seattle. A place to vent that isnt to your friends and family.'),
 (2151409467, '#humble #justblaze #spoonielove #lucky13'),
 (2153422184, 'no'),
 (2153945834,
  'FGXPress PowerStrips are the first of their kind product that can be sold anywhere in the world. PowerStrips™ are a patented, doctor formulated and FDA approved'),
 (2157188568,
  'On a mission to educate the medical profession on treating patients in pain. In my experience not many know how to treat people, let alone people in pain.'),
 (2163358988, 'Clinical case studies by clinicians'),
 (2163604778, 'Clinical case study by clinicians'),
 (2167298995, 'More healthcare information from innovative clinicians!'),
 (2168963268,
  'We are a full service pain management practice with integrated physical therapy at our locations. Your PAIN is our PRIORITY!'),
 (2177120316,
  'Ehlers-Danlos Syndrome Canada.\nEDS Canada provides knowledge, advocacy and support to individuals and their families living with Ehlers-Danlos Syndrome.'),
 (2187999841,
  "Recently diagnosed with Chronic Fatigue Syndrome and Chronic Pain, I'm trying to find a lifestyle that reduces the symptoms and makes life fulfilling.")]

These seem to be due to some problem with the filters. 
they may be behaving as intended...

In [ ]:
pd.read_csv?

In [7]:
pe = pd.read_csv("%s/processing-enque.csv" % environment.PROFILING_LOG_FOLDER_PATH, header=None, names=['timestamp', 'userid', 'note'])
len(pe)

4352

In [11]:
p = pe[pe.userid.isin(missing)]

In [14]:
p

                       timestamp      userid    note
49    2018-05-15T18:35:48.052669    13688882  userid
56    2018-05-15T18:35:48.062851    14094929  userid
177   2018-05-15T18:35:48.318133    16816694  userid
181   2018-05-15T18:35:48.324236    16895968  userid
197   2018-05-15T18:35:48.344990    17294750  userid
227   2018-05-15T18:35:48.393872    17977483  userid
243   2018-05-15T18:35:48.427504    18681791  userid
291   2018-05-15T18:35:48.515352    19888843  userid
300   2018-05-15T18:35:48.528650    19967178  userid
352   2018-05-15T18:35:48.652898    21157018  userid
420   2018-05-15T18:35:48.776561    23228842  userid
425   2018-05-15T18:35:48.782044    23471934  userid
445   2018-05-15T18:35:48.810130    24218420  userid
450   2018-05-15T18:35:48.816304    24472503  userid
457   2018-05-15T18:35:48.834534    24599767  userid
475   2018-05-15T18:35:48.858275    25374174  userid
485   2018-05-15T18:35:48.880245    25890728  userid
502   2018-05-15T18:35:48.901939    26873191  userid
530   2018-05-15T18:35:48.957693    27651660  userid
556   2018-05-15T18:35:48.998147    28860451  userid
578   2018-05-15T18:35:49.040829    30096245  userid
579   2018-05-15T18:35:49.041209    30313276  userid
589   2018-05-15T18:35:49.057066    31098591  userid
606   2018-05-15T18:35:49.080628    32635229  userid
623   2018-05-15T18:35:49.111265    34101384  userid
647   2018-05-15T18:35:49.151433    35661275  userid
669   2018-05-15T18:35:49.196957    36916605  userid
688   2018-05-15T18:35:49.221903    38346411  userid
705   2018-05-15T18:35:49.250424    39171421  userid
725   2018-05-15T18:35:49.279918    41217332  userid
...                          ...         ...     ...
4322  2018-05-15T18:35:55.418517  1948062494  userid
4323  2018-05-15T18:35:55.419013  1952156365  userid
4324  2018-05-15T18:35:55.422101  1956700424  userid
4325  2018-05-15T18:35:55.423033  1958085936  userid
4326  2018-05-15T18:35:55.423627  1961129809  userid
4327  2018-05-15T18:35:55.424345  1965229962  userid
4328  2018-05-15T18:35:55.426621  1966904126  userid
4329  2018-05-15T18:35:55.427337  1967229895  userid
4330  2018-05-15T18:35:55.428557  1971054716  userid
4331  2018-05-15T18:35:55.429731  1974223567  userid
4332  2018-05-15T18:35:55.432783  1977458240  userid
4333  2018-05-15T18:35:55.433831  1978158529  userid
4334  2018-05-15T18:35:55.434795  1978687165  userid
4335  2018-05-15T18:35:55.435264  2147790896  userid
4336  2018-05-15T18:35:55.438050  2148022776  userid
4337  2018-05-15T18:35:55.439016  2148304566  userid
4338  2018-05-15T18:35:55.440491  2150423437  userid
4339  2018-05-15T18:35:55.441645  2151409467  userid
4340  2018-05-15T18:35:55.444193  2153422184  userid
4341  2018-05-15T18:35:55.444974  2153945834  userid
4342  2018-05-15T18:35:55.445996  2157188568  userid
4343  2018-05-15T18:35:55.447086  2163358988  userid
4344  2018-05-15T18:35:55.449481  2163604778  userid
4345  2018-05-15T18:35:55.450256  2167298995  userid
4346  2018-05-15T18:35:55.450858  2168963268  userid
4347  2018-05-15T18:35:55.451892  2174458194  userid
4348  2018-05-15T18:35:55.453915  2177120316  userid
4349  2018-05-15T18:35:55.454866  2177743897  userid
4350  2018-05-15T18:35:55.455231  2181739981  userid
4351  2018-05-15T18:35:55.455569  2187999841  userid

[425 rows x 3 columns]

uids = []
rows = []
print("Unique user ids; rows")
for db in otherDbNames:
    dbPath = '%s/%s' % (environment.DB_FOLDER, db)
    conn = sqlite3.connect( dbPath )  # Connect to the main database
    curs = conn.cursor()  # Connect a cursor
    r1 = conn.execute("select count( distinct user_id) from word_map_deux")
    v =  r1.fetchone()
    uids.append(v[0])
    r2 = conn.execute("select count( word) from word_map_deux")
    v2 =  r2.fetchone()
    rows.append(v2[0])

    print("%s : %s; %s " % (db, v[0], v2[0]))
    conn.close()

In [ ]:
conn = sqlite3.connect(environment.MASTER_DB)
r1 = conn.execute("select user_id, count(word) from word_map_deux group by user_id ")
print( r1.fetchone())
conn.close()

In [ ]:
conn = sqlite3.connect(environment.MASTER_DB)
curs = conn.cursor()  # Connect a cursor
    
r1 = curs.execute("select * from word_map_deux where user_id = 2")
# for i in range(0, 100):
print( r1.fetchone())

curs.close()

In [ ]:
"""The above tells me that the problem is the whole store getting sent to the server"""

# Explore data

In [ ]:
def master_row_generator():
    conn = sqlite3.connect(environment.MASTER_DB)
    r = conn.execute("select * from word_map_deux")
    while True:
        yield r.fetchone()

def db_row_generator(filepath):
    conn = sqlite3.connect(filepath)
    r = conn.execute("select * from word_map_deux")
    while True:
        yield r.fetchone()

In [ ]:
gen = master_row_generator()

In [ ]:
for i in range(0, 220):
    print(next(gen))

In [ ]:
f = '/Users/adam/Desktop/TwitterDataAnalysisLogs/dbs/wordmapping1.db'
dgen = db_row_generator(f)
for i in range(0, 220):
    print(next(dgen))

In [ ]:
f = '/Users/adam/Desktop/TwitterDataAnalysisLogs/dbs/wordmapping1.db'
conn = sqlite3.connect(f)
r = conn.execute("select * from word_map_deux")
for i in range(0, 5):
    print(r.fetchone())

In [ ]:
f = '/Users/adam/Desktop/TwitterDataAnalysisLogs/dbs/wordmapping9.db'
conn = sqlite3.connect(f)
r = conn.execute("select * from word_map_deux")
for i in range(0, 5):
    print(r.fetchone())

In [ ]:

f = '/Users/adam/Desktop/TwitterDataAnalysisLogs/master.db'
conn = sqlite3.connect(f)
r = conn.execute("select count(word) from word_map_deux")
print(r.fetchone())
conn.close()

# Timing

In [ ]:
%cd twitteranalysis

from functools import wraps
import time

from Loggers.CsvLoggers import log_query, log_query_timestamp
import environment


def time_and_log(fn):
    """
    Decorator to time operation of method
    From High Performance Python, p.27
    """
    @wraps(fn)
    def measure_time(*args, **kwargs):
        t1 = time.time()
        result = fn(*args, **kwargs)
        t2 = time.time()
        t2 = time.time()
        elapsed = t2 - t1
        log_query( elapsed )
        log_query_timestamp()
#         print(("@timefn:%s took %s seconds" % (fn.__name__, elapsed)))
        return result
    return measure_time

In [ ]:

@time_and_log
def test():
    time.sleep(2)
    print('done')

In [ ]:
test()